
<%- include('../userLayouts/userHeader.ejs')  %>
<%- include('../userLayouts/userNavbar.ejs') %>


        <!--================Checkout Area =================-->
        <section class="checkout_area section_gap">
            <div class="container">
                <div class="billing_details">
                    <div class="row">
                        <div class="col-lg-8">
                            <h3 class="pt-5
                            ">Edit Address</h3>
                            <form class="row contact_form" action=""
                                method="post">
                                <div class="col-md-12 form-group">
                                    <label>UserName</label><br>
                                    <input type="text" class="" value="" name="username"
                                        required>
                                </div>
                                <div class="col-md-12 form-group">
                                    <label>Mobile</label><br>
                                    <input type="text" value="" name="mobile" required>
                                </div>
                                <div class="col-md-12 form-group">
                                    <label>AlternativeMob</label><br>
                                    <input type="text" value="" name="alternativeMob" required>
                                </div>
                                <div class="col-md-12 form-group">
                                    <label>Housename</label><br>
                                    <input type="text" value="" name="housename" required>
                                </div>
                                <div class="col-md-12 form-group">
                                    <label>City</label><br>
                                    <input type="text" value="" name="city" required>
                                </div>
                                <div class="col-md-12 form-group">
                                    <label>State</label><br>
                                    <input type="text" value="" name="state" required>
                                </div>
                                <div class="col-md-12 form-group">
                                    <label>Pincode</label><br>
                                    <input type="text" value="" name="pincode" required>
                                </div>
                                <div class="col-md-12 form-group">
                                    <label>landmark</label><br>
                                    <input type="text" value="" name="landmark" required>
                                </div>
                                <div class="col-md-12 form-group">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <%- include("../userLayouts/userFooter.ejs") %>

