<%- include('../userLayouts/userHeader.ejs')  %>


<header class="header header-7">
</header><!-- End .header -->
  <main class="main">
    <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('userAssets/images/backgrounds/login-bg.jpg')">
      <div class="container">
        <div class="form-box">
          <div class="form-tab">
            <ul class="nav nav-pills nav-fill" role="tablist">
          <li class="nav-item">
              <a class="nav-link" id="signin-tab-2" data-toggle="tab" href="#signin-2" role="tab" aria-controls="signin-2" aria-selected="false">Sign In</a>
          </li>

      </ul>
      <div class="tab-content">
          
            <form action="" method="post">
              <div class="form-group pt-5">
                <label for="singin-email-2 ">email address *</label>
                <input type="email" class="form-control" id="singin-email-2" name="email" required>
              </div><!-- End .form-group -->

             

              <div class="form-footer">
                <button type="submit" class="btn btn-outline-primary-2">
                        <span>SEND OTP</span>
                      <i class="icon-long-arrow-right"></i>
                      </button>

                      <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="signin-remember-2">
                
              </div><!-- End .custom-checkbox -->

            
              </div><!-- End .form-footer -->
              <% 

              if(typeof message !== 'undefined' ){
                
                %>
                  <div class="alert alert-danger" role="alert">
                    <%= message %>
                  </div>
      
                <% 
      
              }
            %>
            </form>
            <form action="/verifyForgot" method="post">
              <div class="form-group pt-5">
                <label for="singin-email-2 ">OTP *</label>
                <input type="text" class="form-control" id="singin-email-2" name="otp" required>
              </div><!-- End .form-group -->

              

              <div class="form-footer">
                <button type="submit" class="btn btn-outline-primary-2">
                        <span>VERIFY</span>
                      <i class="icon-long-arrow-right"></i>
                      </button>

                      <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="signin-remember-2">
                
              </div><!-- End .custom-checkbox -->

              
              </div><!-- End .form-footer -->
              <% 

              if(typeof message !== 'undefined' ){
                
                %>
                  <div class="alert alert-danger" role="alert">
                    <%= message %>
                  </div>
      
                <% 
      
              }
            %>
            </form>
            <div class="form-choice">
              <p class="text-center">Don't have anccount</p>
              <div class="row">
                <div class="col-sm-6">
                  <p class="text-dark text-end"></p> 
                </div><!-- End .col-6 -->
                <div class="col-sm-6">
                  <a href="/signup" class="btn btn-login ">
                    
                    Sign Up
                  </a>
                </div><!-- End .col-6 -->
              </div><!-- End .row -->
            </div><!-- End .form-choice -->
          </div><!-- .End .tab-pane -->
          <!-- <div class="tab-pane fade show active" id="register-2" role="tabpanel" aria-labelledby="register-tab-2"> -->   
          </div><!-- .End .tab-pane -->
      </div><!-- End .tab-content -->
    </div><!-- End .form-tab -->
        </div><!-- End .form-box -->
      </div><!-- End .container -->
    </div><!-- End .login-page section-bg -->
</main><!-- End .main -->


<%- include("../userLayouts/userFooter.ejs") %>
