<%- include('../userLayouts/userHeader.ejs')  %>

<header class="header header-7">
  <div class="header-middle sticky-header">
      <div class="container-fluid">
          <div class="header-left">
              <button class="mobile-menu-toggler">
                  <span class="sr-only">Toggle mobile menu</span>
                  <i class="icon-bars"></i>
              </button>
              
              <a href="/home" class="logo">
                  <img src="/userAssets/images/demos/demo-7/userlogo.jpg" alt="Molla Logo" width="105" height="25">
              </a>

              <nav class="main-nav">
                  <ul class="menu sf-arrows">
                      <li class="megamenu-container ">
                          <a href="/home" >Home</a>    
                      </li>
                      <li>
                          <a href="/shop">Shop</a>
                      </li>   
                  </ul><!-- End .menu -->
              </nav><!-- End .main-nav -->
          </div><!-- End .header-left -->  
      </div><!-- End .container-fluid -->
  </div><!-- End .header-middle -->
</header><!-- End .header -->
  <main class="main">
    <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('userAssets/images/backgrounds/login-bg.jpg')">
      <div class="container">
        <div class="form-box">
          <div class="form-tab">
            <ul class="nav nav-pills nav-fill" role="tablist">
          <li class="nav-item">
              <a class="nav-link" id="signin-tab-2" data-toggle="tab" href="#signin-2" role="tab" aria-controls="signin-2" aria-selected="false">Sign In</a>
          </li>

      </ul>
      <div class="tab-content">
          
            <form action="/resubmitPassword" method="post">
              <div class="form-group pt-5">
                <label for="singin-email-2 ">New Password *</label>
                <input type="password" class="form-control" id="singin-email-2" name="password" required>
              </div><!-- End .form-group -->

              <div class="form-group">
                <label for="singin-password-2">Retype Password *</label>
                <input type="password" class="form-control" id="singin-password-2" name="password2" required>
              </div><!-- End .form-group -->

              <div class="form-footer">
                <button type="submit" class="btn btn-outline-primary-2">
                        <span>SUBMIT</span>
                      <i class="icon-long-arrow-right"></i>
                      </button>

                      <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="signin-remember-2">
                
              </div><!-- End .custom-checkbox -->

              
              </div><!-- End .form-footer -->
              <% 

              if(typeof message !== 'undefined' ){
                
                %>
                  <div class="alert alert-danger" role="alert">
                    <%= message %>
                  </div>
      
                <% 
      
              }
            %>
            </form>
            <div class="form-choice">
              
              <div class="row">
                <div class="col-sm-6">
                  <p class="text-dark text-end"></p> 
                </div><!-- End .col-6 -->
                <div class="col-sm-6">
                  <a href="/login" class="btn btn-login ">
                    
                    Back To Login
                  </a>
                </div><!-- End .col-6 -->
              </div><!-- End .row -->
            </div><!-- End .form-choice -->
          </div><!-- .End .tab-pane -->
          <!-- <div class="tab-pane fade show active" id="register-2" role="tabpanel" aria-labelledby="register-tab-2"> -->   
          </div><!-- .End .tab-pane -->
      </div><!-- End .tab-content -->
    </div><!-- End .form-tab -->
        </div><!-- End .form-box -->
      </div><!-- End .container -->
    </div><!-- End .login-page section-bg -->
</main><!-- End .main -->
<%- include("../userLayouts/userFooter.ejs") %>
